<mat-toolbar color="primary">
  <div style="display: flex;justify-content: space-between;align-items: center;width: 100%">
    <span>Ontology Search</span>
    <span style="padding-right: 2rem">
      <mat-form-field style="padding-right: 1rem">
        <input type="text" matInput />
      </mat-form-field>
      <button mat-raised-button>Search</button>
    </span>
  </div>
</mat-toolbar>

<div class="row">
  <div class="col-md-3">
    <div style="height: 100%;border-right: 1px solid #888888">
      <section style="padding: 15px">
        <mat-slide-toggle (change)="onToggleClicked($event.checked, 'Countries')" [checked]="toggledClass == 'Countries'" class="selection">Countries</mat-slide-toggle>
        <mat-slide-toggle (change)="onToggleClicked($event.checked, 'Continent')" [checked]="toggledClass == 'Continent'" class="selection">Continent</mat-slide-toggle>
        <mat-slide-toggle (change)="onToggleClicked($event.checked, 'Currency')" [checked]="toggledClass == 'Currency'" class="selection">Currency</mat-slide-toggle>
        <mat-slide-toggle (change)="onToggleClicked($event.checked, 'Capital')" [checked]="toggledClass == 'Capital'" class="selection">Capital</mat-slide-toggle>

        <div style="display: flex;justify-content: flex-end">
          <button mat-raised-button (click)="getAll()">Get All</button>
        </div>
      </section>
      <hr/>
      <mat-card>
          <mat-card-title>
            Filter columns
          </mat-card-title>
        <mat-card-content style="display: flex;flex-direction: column;">
          <mat-slide-toggle class="padded">Population</mat-slide-toggle>
          <mat-slide-toggle class="padded">LandArea</mat-slide-toggle>
          <mat-slide-toggle class="padded">Currency</mat-slide-toggle>
          <mat-slide-toggle class="padded">Short Name</mat-slide-toggle>
          <mat-slide-toggle class="padded">Code</mat-slide-toggle>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Preview of Data</mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Number of Output results</mat-label>
            <mat-select >
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="100">100</mat-option>
              <mat-option value="200">200</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Order By</mat-label>
            <mat-select >
              <mat-option value="Population">Population</mat-option>
              <mat-option value="LandArea">LandArea</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Sort By</mat-label>
            <mat-select >
              <mat-option value="ASEC">ASEC</mat-option>
              <mat-option value="DESC">DESC</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-md-9">

    <ul id="countryList" *ngIf="countryList">
      <!-- <li *ngFor="let country of countryList">{{country}}</li> -->

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        
      </div>
    </ul>

  </div>
</div>

