.padded{
  padding: 5px;
}

.selection{
  padding:5px;
  font-size:1.5rem;
  font-weight: bold;
  display: block;
}

table{
  width: 100%;
 }

 .example-header-image {
  background-image: url('https://img.icons8.com/doodle/48/000000/country.png');
  background-size: cover;
}
